header{
background-color: #cfd271;
color: black;
font-family: Arial, Helvetica, sans-serif;
}

h1{
background-color: #cfd271;
color: red;
font-family: Arial, Helvetica, sans-serif;
}

p{
font-family: Arial, Helvetica, sans-serif;
}

h2{
font-family: Arial, Helvetica, sans-serif;
}

a{
color: blue;
}

h5{
font-family: Arial, Helvetica, sans-serif;
}