header{
background-color: #cfd271;
color: black;
font-family: Arial, Helvetica, sans-serif;
}

h1{
background-color: #cfd271;
color: red;
font-family: Arial, Helvetica, sans-serif;
padding-right:15px;
padding-left:15px;
}

p{
font-family: Arial, Helvetica, sans-serif;
}

h2{
font-family: Arial, Helvetica, sans-serif;
padding-right:15px;
}

a{
color: blue;
}

h5{
font-family: Arial, Helvetica, sans-serif;
padding-top: 15px;
padding-bottom: 15px;
padding-right:15px;
padding-left:15px;
}

h3{
font-family: Arial, Helvetica, sans-serif;
color: white;
padding-top: 15px;
padding-bottom: 15px;
padding-left:15px;
}

h4{
font-family: Arial, Helvetica, sans-serif;
}